@CHARSET "UTF-8";
@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");

body {
	padding-bottom: 40px;
	color: #5a5a5a;
}

a {
	color: #DA4F49;
}

.hero-unit {
}

.content {
	padding-top: 5%;
	padding-bottom: 30px;
}

form.default-form {
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    padding-top: 20px;
}

form.default-form > fieldset {
	padding: 0px 20px 0px 20px;
}

.form-actions {
	margin-bottom: 0px;
}

footer {
	margin: 30px auto 0 auto;
	width: 1170px;
	position: relative;
	bottom: 0;
}